<%- include('../inc/head.ejs') %> 
<table class="table">
  <tbody>
    <tr>
      <td class="title">아이디</td>
      <td class="content">
        <input type="text" name="userid" placeholder="아이디">
      </td>
    </tr>
  </tbody>
</table>
<%- include('../inc/foot.ejs') %> 