<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= status %> Error</title>
  <style>

  </style>
</head>
<body>
  <div class="wrapper">
    <div class="summary-wrap">
      <div class="icon">

      </div>
      <div class="summary">
        <h3><%= status %> Error</h3>
        <p><%= message %></p>
      </div>
    </div>
    <div class="content-wrap">
      <%= description %>
    </div>
    <div class="link-wrap">
      <a href="/">메인으로 돌아가기</a>
    </div>
  </div>
</body>
</html>