<%- include('../inc/head.ejs') %> 
<table class="table table-success text-center">
  <thead>
    <tr>
      <th style="width: 80px;">번호</th>
      <th>제목</th>
      <th style="width: 160px;">작성자</th>
      <th style="width: 160px;">작성일</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <td>1</td>
      <td style="text-align: left;">아버지를...</td>
      <td>홍길동</td>
      <td>2021-01-01</td>
    </tr>
  </tbody>
</table>
<%- include('../inc/foot.ejs') %> 